<section class="interior-section wide-section">
	<div class="wrap">
		<a id="interior"></a>
		<h2>Interior Work</h2>
		<p>Here is a look at some projects I've completed inside homes around DFW.</p>
		<a id="floors"></a>
		<h3>Floors</h3>
		
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-03-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-03.jpg" />
				<figcaption>Before</figcaption>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-06-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-06.jpg" />
				<figcaption>After</figcaption>				
			</figure>
		</section>	
		<hr />
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-04-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-04.jpg" />
				<figcaption>Hardwood</figcaption>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-07-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-07.jpg" />
				<figcaption>Hardwood</figcaption>				
			</figure>
		</section>	
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-05-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-05.jpg" />
				<figcaption>Hardwood</figcaption>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-08-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-08.jpg" />
				<figcaption>Hardwood</figcaption>				
			</figure>
		</section>	
		<div class="clearfix"></div>

		<h3>Bathroom</h3>
		
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-013-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-013.jpg" />
				<figcaption>Before</figcation>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-016-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-016.jpg" />
				<figcaption>After</figcation>					
			</figure>
		</section>	
		
		<hr />
		
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-012-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-012.jpg" />
				<figcaption></figcation>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-014-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-014.jpg" />
				<figcaption></figcation>					
			</figure>
		</section>	
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-015-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-015.jpg" />
				<figcaption></figcation>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-017-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-017.jpg" />
				<figcaption></figcation>					
			</figure>
		</section>	
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-018-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-018.jpg" />
				<figcaption></figcation>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-019-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-019.jpg" />
				<figcaption></figcation>					
			</figure>
		</section>	
		<div class="clearfix"></div>
		<a href="/interior/" class="button-lrg morebtn">more interior work &raquo;</a>
	</div>
</section>